%section.left-area.inner-l-area
  %ul.left-menu
    %li
      %a.active{:href => "javascript:void(0);"}
        %span.real-money Real Money
    %li
      %a{:href => "javascript:void(0);"}
        %span.virtual-money Virtual Money