%h4.in-page-title.cashier-icon
  Cashier
%ul.two-col-data
  %li
    %label
      Available
    %span
      = available_cash
  %li
    %label
      In Play
    %span
      = cash_in_play
  %li.t-txt
    %label
      Total
    %span
      = total_cash