%section.left-area.inner-l-area
  %ul.left-menu
    %li
      %a{href: users_account_summary_path, class: current_page?(users_account_summary_path) ? 'active' : ''}
        %span.account-summary
          Account Summary
    %li
      %a{href: users_cashier_path, class: current_page?(users_cashier_path) ? 'active' : ''}
        %span.cashier
          Cashier
    %li
      %a{href: users_account_statement_path, class: current_page?(users_account_statement_path) ? 'active' : ''}
        %span.account-statement
          Account Statement
    %li
      %a{href: users_profile_path, class: current_page?(users_profile_path) ? 'active' : ''}
        %span.profile
          Profile



