%section.left-area.inner-l-area
  %ul.left-menu
    %li
      %a{href: 'javascript:void(0);'}
        %span.account-summary
          Account Summary
    %li
      %a{href: users_cashier_path, class: current_page?(users_cashier_path) ? 'active' : ''}
        %span.cashier
          Cashier
    %li
      %a{href: 'javascript:void(0);'}
        %span.account-statement
          Account Statement
    %li
      %a{href: 'javascript:void(0);'}
        %span.profile
          Profile



