- @title = "401 Error - Access Denied"
- @h1 = "Hold on to your horses, Amigo!"

%img{:class=>"left", :src=>"/images/amigo.png", :width=>177, :height=>200, :alt=>"Amigo", :title=>""}/
%p.big{:style=>"padding-top: 0.5em"}
  <span class="highlight"><strong>You don't have permission to view that
  resource or file.</strong></span> You may need to log on as a different user

%p{:style=>"color: #777; margin-bottom: 2em"} Error Code: 401 &#8211; Access Denied
.clear &nbsp;
