- @title = "404 Error - File Not Found"
- @h1 = "Oops! We couldn't find what you were looking for."

%img{:class=>"left", :width=>205, :height=>209, :src=>"/images/sherlock.png"}/
%p.big{:style=>"padding-top: 1em"}
  <span class="highlight"><strong>It's possible that you or someone else
  entered the URL incorrectly.</strong></span> You might want to head back to the
  = link_to 'home page', '/'
  and see if you can find what you are looking for from there.
%p If you feel that you have reached this page in error, please use the 'Contact Us' link below for assistance.
%p{:style=>"color: #777; margin-bottom: 2em"} Error Code: 404 &#8211; File Not Found
.clear &nbsp;
