%section.right-area
  %h4
    %span League Info
  %ul.r-data-list
    %li
      %label Start:
      %span 25 May 09:30
    %li
      %label Finish:
      %span 25 May 15:30
    %li
      %label Entrants:
      %span 1,230
    %li
      %label Prize pool:
      %span $1,230
    %li
      %label Places paid:
      %span 123
    %li
      %label Avg. return:
      %span 5.43%
  %h4
    %span Leaderboard
  #scrollbar1
    .scrollbar
      .track
        .thumb
    .viewport
      .overview
        %ul.r-data-list
          %li
            %label 1st
            %span 23.45%
          %li
            %label 2nd
            %span 23.45%
          %li
            %label 3rd
            %span 23.45%
          %li
            %label 4th
            %span 23.45%
          %li
            %label 5th
            %span 23.45%
          %li
            %label 6th
            %span 23.45%
          %li
            %label 7th
            %span 23.45%
          %li
            %label 8th
            %span 23.45%
          %li
            %a{:href => "javascript:void(0);"} View More leaders
  %h4
    %span Payout Structure
  #scrollbar2
    .scrollbar
      .track
        .thumb
    .viewport
      .overview
        %ul.r-data-list
          %li
            %label 1st
            %span 23.45%
          %li
            %label 2nd
            %span 23.45%
          %li
            %label 3rd
            %span 23.45%
          %li
            %label 4th
            %span 23.45%
          %li
            %label 5th
            %span 23.45%
          %li
            %label 6th
            %span 23.45%
          %li
            %label 7th
            %span 23.45%
          %li
            %label 8th
            %span 23.45%
          %li
            %a{:href => "javascript:void(0);"} View More leaders