.info-bar
  .daily-league-txt
    %span Nasdaq -
    $1+0.1 Daily League
  .elapsed-time
    %span Elapsed time
    %strong.time-txt 02:34:45
  .remaining-time
    %span Remaining  time
    %strong.time-txt 04:25:45