body, div, p, table, td, tr, span, ul, li, ol, strong, header, footer, aside, artical, section, hgroup, figure, figcaption, span, h1, h2, h3, h4, h5, h6 , dt, dr,dd, input, navm, pre, code, kbd, samp, label{ margin:0px; padding:0px; outline:none;}
img, video, audio, object, iframe, input{ border:none; }
header, footer, aside, artical, section, hgroup, figure, figcaption, nav{ display:block;}

h1, h2, h3,h4, h5, h6{ font-weight:normal;}
ul, li, ol{ list-style-type:none;}
a:hover{ color:#090; text-decoration:none; cursor:pointer;}
input[type="text"], input[type="redio"], input[type="select"], input[type="textarea"], input[type="button"], input[type="email"], input[type="password"], input[type="date"], input[type="datetime"], input[type="month"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], select{ color:#999;outline: none}
select{font-family: 'Oxygen', sans-serif;}
a{ text-decoration:none;}
/* Global properties ======================================================== */
body {
    background:#f2f2f2;
    font-family: 'Oxygen', sans-serif;
    font-size:100%;
    line-height:1.125em;
    color:#242424;
}
html { min-width:1000px;}
html, body { height:100%;}
.clr{ clear:both;}
/* Global Structure ============================================================= */
.wrapper						{ width:100%;overflow:hidden;float:left; min-width:1000px;}
/* Header */
header							{ height:106px;overflow:hidden;background:#3a3b3f; padding:0; margin:0;}
.logo							{ float:left; padding:22px 20px; padding-bottom:0;}
header nav						{ float:right; margin-top:36px;}
header nav ul li 				{ float:left;padding:0;margin-left:5px; margin-right:5px;}
header nav ul li a 				{ font-size:16px;color:#fff;line-height:34px;text-decoration:none; padding:0 15px; float:left; font-weight:lighter; }
header nav ul li a.current, header nav ul li a:hover { background:#0299ce; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; color:#fff;}
header.affix                    {z-index: 100;}
.banner-area					{ background:url(home/banner-bg.jpg) no-repeat center center; width:100%;background-size:cover;height:544px; overflow:hidden; padding-top: 106px; }
.banner-txt						{ width:280px; float:left; margin-left:40px; padding-top:100px; }
.banner-txt h4					{ font-size:38px; color:#fff; line-height:42px; font-weight:lighter; padding-left:3px;}
.banner-txt p					{ font-size:18px; color:#d9d9d9; line-height:22px; font-weight:lighter; margin-top:15px; margin-bottom:20px;padding-left:3px;}



.mid-cont-area						{ background:#fff; overflow:hidden; padding:30px; padding-bottom:0;}
.mid-cont-area h2					{ font-size:36px; font-weight:lighter; color:#0299ce; border-bottom:1px solid #eee; line-height:44px; padding-bottom:20px;}
.mid-cont-area span					{ color:#3a3b3f; display:block; font-size:16px; line-height:20px; margin:0;}
.row-works							{ overflow:hidden; padding:20px 0;}
.w-col								{ overflow:hidden; float:left; text-align:center; width:33%; padding:30px 0 30px;}
.w-col .mid-col                     { padding-left: 20px;}
.i-row-h							{ position:relative; height:280px; width:100%; text-align:center;}
.w-col p							{ color:#707070; font-size:16px; text-align:center; line-height:22px; padding:20px 30px 0 30px; padding-bottom:0;}

.f-area								{ background:#ecfaff; overflow:hidden; padding:30px; padding-bottom:0;}
.f-area	h2							{ font-size:36px; font-weight:lighter; color:#0299ce; border-bottom:1px solid #b1e6f9; line-height:44px; padding-bottom:20px;}
.f-area	h3							{ font-size:24px; font-weight:lighter; color:#005775; line-height:24px; padding:20px 0;}
.f-area	span						{ color:#3a3b3f; display:block; font-size:16px; line-height:20px; margin:0;}
.row-f								{ overflow:hidden; padding:0; border-top:1px solid #fff;}
.f-col								{ overflow:hidden; float:left; text-align:center; width:29%; padding:0 2% 0; padding-bottom:30px;}
.f-col p							{ color:#707070; font-size:14px; text-align:center; line-height:22px; padding:0 30px; padding-bottom:0;}
.i-row-f							{ position:relative; height:162px; width:100%; text-align:center; padding-top:20px;}

.demo-btn							{ background:#0299ce; color:#fff; font-size:36px; line-height:74px; display:block; text-align:center; border-bottom: #00739c 8px solid;}
.demo-btn:hover						{ background:#78c947; color:#fff; border-bottom: #67b538 8px solid;}
.comp-bg							{ background:url(home/bg-slide.png) no-repeat 0 0; padding:18px 82px; padding-bottom:0; width:510px; height:440px; margin-top:75px; margin-left:40px; float:left;  }
.demo-area							{ background:#3a3b3f; border-bottom:8px solid #8a8a8a; height:500px;}


#slides								{ }
.slidesjs-navigation 				{ float:left; z-index:10;position:absolute;margin-top:-190px;margin-left:-58px;text-indent:-999px;}
.slidesjs-previous 					{ margin-right: 5px;float: left;background:url(home/arrow.png) no-repeat; width:38px;height:47px;}
.slidesjs-next 						{ margin-right: 5px;float: right;margin-left:527px;background:url(home/arrow.png) no-repeat bottom;width:38px;height:47px;}
.slidesjs-pagination 				{ float: right;list-style: none;margin-top:60px;margin-right:215px;}
.slidesjs-pagination li 			{ float: left; margin: 0 2px;}
.slidesjs-pagination li a 			{ display: block;background:#eae9e9;border-radius:50px;-moz-border-radius:50px;-webkit-border-radius:50px;width:13px;height:13px;text-indent:-999px;}
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {background:#02bcff; }
.slidesjs-pagination li a:hover		{  background:#02bcff;}


.popup-area{ background:url(popup-bg.png); width:100%; height:100%; position:absolute; top:0; left:0; z-index:999999;}

.popup-cont{ border:3px solid #ddd;background:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; position:absolute; top:60px; width:40%; left:30%;}
.close-icon{ padding:10px; text-align:right;}
.popup-heading{ border-bottom:1px solid #ddd; }
.popup-cont h4{ font-weight:lighter; font-size:18px; text-transform:uppercase; color:#272727; float:left; padding:15px;}
.popup-cont h3{ color:#90c34c; font-size:18px; text-align:center; padding-bottom:20px;}
.pd20{ padding:20px;}
.popup-txt	{ background:#f8f8f8; border-top:1px solid #ddd; border-bottom:1px solid #ddd; margin-bottom:50px; }
.popup-c-txt{ border-top:2px solid #fff; border-bottom:1px solid #fff; padding:10px; overflow:hidden;border-left:1px solid #ddd;}
.popup-c-txt span{ display:block; padding-left:10px; float:left; color:#808080; }
.popup-c-txt strong{color:#3a3c40; display:block; float:left; padding-left:10px; padding-top:2px;}
.popup-logo	{ float:left; padding:10px; border-top:2px solid #fff; border-bottom:1px solid #fff; }
.popup-sub-head{ border-top:1px solid #ddd; border-bottom:1px solid #ddd;overflow:hidden; margin-bottom:30px; }
.popup-sub-head span{ background:#f8f8f8; border-top:2px solid #fff; border-bottom:1px solid #fff; font-size:24px; font-weight:bold; line-height:55px; display:block; text-align:center;}

.button-action {

    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);

    background-color:#007dc1;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    border:1px solid #124d77;

    display:inline-block;
    color:#ffffff;
    font-size:14px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;

    text-shadow:0px 1px 0px #154682;
    margin-bottom:10px;
    float:left; margin-right:15px;
}
.button-action:hover {

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);

    background-color:#0061a7;
    color:#fff;
}
.button-action:active {
    position:relative;
    top:1px;
}


.f-signup{ text-align:center;}
.f-signup span{ display:block; font-size:22px; font-weight:bold; padding:10px; color:#666;}
.f-signup p{ display:block; font-size:12px; font-weight:bold; padding:5px; color:#999;}
.s-input{ display:block; overflow:hidden; padding:5px 40px;}
.s-input input {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    color: #5A5A5A;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    padding:10px;
    width: 436px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 0 #000000;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 0 #000000;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 0 #000000;
}
.s-input input:focus{
    box-shadow: 0 1px 1px #0299ce inset, 0 0 0 #000000;
    -moz-box-shadow: 0 1px 1px #0299ce inset, 0 0 0 #000000;
    -webkit-box-shadow: 0 1px 1px #0299ce inset, 0 0 0 #000000;
}

.s-input input.name-txt{
    background:url(home/login-icon.gif) no-repeat 416px 0;
}
.s-input input.email-txt{
    background:url(home/login-icon.gif) no-repeat 416px -46px;
}
.s-input input.password-txt{
    background:url(home/login-icon.gif) no-repeat 416px -90px;
}
.s-input input.c-password-txt{
    background:url(home/login-icon.gif) no-repeat 380px -132px;
}
.fp-txt{ float:left; color:#666; font-size:13px; margin-top:8px;}
/* */
.footer-area						{ padding:15px 40px; clear:both; font-size:12px; font-family:'Oxygen'; overflow:hidden;}
.footer-left						{ float:left; color:#666666;text-shadow: 0px 2px 0px #ffffff;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */}
.footer-left a						{ color:#666666;}
.footer-left a:hover				{ color:#000;}
.footer-left span					{ display:block; color:#a0a0a0; padding-top:2px;}
.footer-right						{ float:right;}
.footer-right a						{ height:27px; width:27px; float:left; margin-left:5px; text-indent:999px;}


.footer-right a				{ background:url(home/s-icon.png) no-repeat;}
.footer-right a.g-icon		{ background-position:0 0;}

.footer-right a.f-icon		{ background-position:-32px 0;}
.footer-right a.t-icon		{ background-position:-64px 0;}
.footer-right a.in-icon		{ background-position:-96px 0;}

.footer-right a.g-icon:hover{ background-position:0 bottom;}
.footer-right a.f-icon:hover{ background-position:-32px bottom;}
.footer-right a.t-icon:hover{ background-position:-64px bottom;}
.footer-right a.in-icon:hover{ background-position:-96px bottom;}

.img-polaroid             {background-color: #3A3B3F;}