body, div, p, table, td, tr, span, ul, li, ol, strong, header, footer, aside, artical, section, hgroup, figure, figcaption, span, h1, h2, h3, h4, h5, h6 , dt, dr,dd, input, navm, pre, code, kbd, samp, label{ margin:0px; padding:0px; outline:none;}
img, video, audio, object, iframe{ border:none; }
header, footer, aside, artical, section, hgroup, figure, figcaption, nav{ display:block;}

h1, h2, h3,h4, h5, h6{ font-weight:normal;}
ul, li, ol{ list-style-type:none;}
a:hover{ color:#090; text-decoration:none; cursor:pointer;}
input[type="text"], input[type="redio"], input[type="select"], input[type="textarea"], input[type="button"], input[type="email"], input[type="password"], input[type="date"], input[type="datetime"], input[type="month"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], select{ color:#999;outline: none; height: inherit}
select{font-family: 'Oxygen', sans-serif;}
a{ text-decoration:none;}
/* Global properties ======================================================== */
body {
    background:#f2f2f2;
    font-family: 'Oxygen', sans-serif;
    font-size:100%;
    line-height:1.125em;
    color:#242424;
}
label, input, button, select, textarea {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
html { min-width:1000px;}
html, body { height:100%;}
.clr{ clear:both;}
/* Global Structure ============================================================= */
.wrapper						{ width:100%;overflow:hidden;float:left; min-width:1000px;}
/* Header */
header							{ height:70px;overflow:hidden;background:#484a4f; padding:0; margin:0;}
.logo							{ float:left; padding:15px 20px; padding-bottom:0;}
header nav						{ float:right; margin:0;}
header nav ul li 				{ float:left;padding:0;margin:0; margin-left:1px;}
header nav ul li a 				{ font-size:15px;color:#c4c4c4;line-height:70px;text-decoration:none; padding:0 20px; float:left; }
header nav ul li a.current, header nav ul li a:hover { padding-bottom:5px;}

.topbar-right				    { float:right; padding:10px;}
.topbar-right a .w-txt	        { color:#cecece; font-size:12px; display:block;}
.topbar-right a .name-txt	    { color:#fff; font-size:16px; font-weight:bold;display:block;}
.topbar-right a .noti-txt	    { color:#01b2f0; display:block; font-size:12px; margin-top:3px; text-transform:uppercase; line-height:16px; padding-left:22px;}

.tlast							{ position:relative; height:50px;}
.deposit-txt					{ position:absolute; bottom:0; left:0; text-align:center; font-size:11px; text-transform:uppercase; width:100%;}
/*----- other -----*/

.info-bar						{ width:100%; height:54px; position:relative;}
.daily-league-txt				{ font-size:16px; color:#fff; line-height:54px; padding-left:20px;}
.daily-league-txt span			{ font-size:18px; color:#fff; text-transform:uppercase; font-weight:bold;}

.elapsed-time					{ position:absolute; right:176px; top:-1px; background:url(time-icon.png) 15px -112px #e96f6f no-repeat; height:51px; border-top:1px solid #ff8d8d; padding-left:55px; padding-right:15px; padding-top:4px; width:100px;}
.elapsed-time span				{ display:block; color:#8b2b2b; font-size:11px; text-transform:uppercase;}
.elapsed-time .time-txt			{ display:block; font-size:24px; color:#fff; line-height:24px;}

.remaining-time					{ position:absolute; right:0; top:-1px; background:url(time-icon.png) 15px 10px #a0ba81 no-repeat; height:51px; border-top:1px solid #bed89f; padding-left:55px; padding-right:15px; padding-top:4px;}
.remaining-time span			{ display:block; color:#3e5e17; font-size:11px; text-transform:uppercase;}
.remaining-time .time-txt		{ display:block; font-size:24px; color:#fff;}

.cont-area						{ width:100%; float:left; }
.left-area						{ width:211px; position:absolute; left:0; top:126px;}
.left-area h3					{ background:#3a3b3f; line-height:48px; color:#fff; font-size:18px; padding:0 10px; font-weight:normal;}
.left-area h3 span.myinfo-icon	{ background:url(icon-myinfo.png) no-repeat right 12px; display:block;}
.data-list						{ overflow:hidden; border-top:1px solid #494a4d; background:#595a5f;}
.data-list li					{ border-top:1px solid #646569; margin:0; float:left; border-bottom:1px solid #494a4d; line-height:35px; font-size:13px; color:#d6d6d6; overflow:hidden; padding:0 10px; width:190px; }
.data-list li label				{ float:left; width:55%; display:block; text-align:left;}
.data-list li span				{ float:left; width:45%; display:block; text-align:right;}



.left-menu{ background:#a6aab3; overflow:hidden;}
.left-menu li a{ color:#fff; display:block; padding:0 0 0 10px;  line-height:46px;  border-top:1px solid #969aa3;}
.left-menu li a span{ padding:0 0 0 38px; display:block;  }
.left-menu li a:hover, .left-menu li a.active{ border-top:1px solid #1482c1; }
.left-menu li a.active{ font-weight:bold;}

.h-midarea						{padding:10px 3px; margin-left:210px; margin-right:220px; overflow:hidden; border:1px solid #e4e4e4; border-right:1px solid #d6e6f0; min-height:500px;  background:#fff;}
input[type="text"].search-txt					{ font-size:16px; font-weight:lighter; color:#9a9a9a; border:1px solid #ebebeb; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; width:93%; padding:12px 0; padding-left:45px; clear:both; margin:0 7px 14px 7px; background:url(search-icon.png) no-repeat 12px 8px; 	font-family: 'Oxygen', sans-serif;-moz-box-shadow: 0px 3px 3px #f4f4f4;/*FF 3.5+*/
    -webkit-box-shadow: 0px 3px 3px #f4f4f4;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0px 3px 3px #f4f4f4; height: inherit; line-height: inherit; display: block;

}
/******************************* Mid Area css ***********************************/
.mid-box{ width:133px; border:1px solid #dbdbdb; margin:0 7px 14px 7px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; padding:1px; overflow:hidden; float:left; border-bottom:none; padding-bottom:0;

    -moz-box-shadow: 0px 3px 2px #dbdbdb;/*FF 3.5+*/
    -webkit-box-shadow: 0px 3px 2px #dbdbdb;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0px 3px 2px #dbdbdb;

}
.mid-box-logo{ background:#f7f7f7;border-radius:5px 5px 0 0 ; -moz-border-radius:5px 5px 0 0 ; -webkit-border-radius:5px 5px 0 0 ; ; text-align:center; border-bottom:1px solid #dbdbdb; padding:10px 0;}
.mid-box-logo img{ max-width: 10px; max-height: 10px;}
.mid-box-logo span{ }
.peg{ border-bottom:1px solid #dbdbdb; padding:1px 0; line-height:28px; overflow:hidden; font-size:14px;}
.peg-left{ float:left; width:39px; margin-right:1px; padding-left:27px; font-size:12px; }
.mrn{ margin-right:0px;}
.price{ position:relative; border-bottom:1px solid #dbdbdb; line-height:44px; padding:1px 25px 1px 1px; font-size:26px; font-weight:bold; color:#3a3c40; overflow:hidden; height:44px; text-align: center;}
.graph{ position:absolute; top:0px; right:0px; opacity: 1;}
.graph-active{ opacity: 1;}
.pin{ position:absolute; bottom:0px; right:0px; opacity: 1;}
.pin-active{ opacity: 1;}
.box-bottom{ background:#e9e9e9;line-height:25px; overflow:hidden; padding-top:1px; }
.buy{ background:#f5f5f5; float:left; width:49%; border-right:1px solid #fff; font-size:12px; font-weight:bold;text-transform:uppercase; text-align:center;  border-bottom:1px solid #fff;}
.buy a, .sell a{ color:#707070; display:block;text-shadow: 0px 2px 0px #ffffff;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */}
.buy a:hover, .buy a.active{ background:#7fbb00; color:#fff;text-shadow: 0px 2px 0px #333;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */  }

.sell{ background:#f5f5f5; float:right; width:49.5%; font-size:12px; font-weight:bold; text-transform:uppercase; text-align:center; border-bottom:1px solid #fff;text-shadow: 0px 2px 0px #ffffff;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */}
.sell a:hover, .sell a.active{ background:#e34c2e; color:#fff;text-shadow: 0px 2px 0px #333;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */}

.h-graph				{ padding:10px; clear:both;}
/******************************* Mid Area End css ***********************************/

.right-area						{ width:219px; position:absolute; right:0; top:126px; background:#f3fbff;}
.dragger-area{ border-bottom:1px solid #d6e6f0; padding:0 1px 1px 1px;}
.dragger-area-heding{border-radius:5px 5px 0 0 ; -moz-border-radius:5px 5px 0 0 ; -webkit-border-radius:5px 5px 0 0 ; background:url(right-heading-bg.jpg) repeat-x 0 0; line-height:32px; padding-left:11px; color:#2192d3;}
.dragger-area-heding a{ float:right; padding:12px 12px 0 0;}
#scrollbar1 { width: 219px; clear: both; }
#scrollbar1 .viewport { width:212px; height: 197px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute;}
#scrollbar1 .scrollbar,#scrollbar1 .thumb .end,#scrollbar1 .thumb { background:#cbe1ec;}
#scrollbar1 .scrollbar { position: relative;float: right; width: 7px; }
#scrollbar1 .track	{ background:#e8eef1; height: 100%;  position: relative;}
#scrollbar1 .thumb {height: 68px !important; width: 7px; left:0px; overflow: hidden; position: absolute; top: 0; }
.r-data-list						{ overflow:hidden; border-top:1px solid #c9dde9; border-bottom:1px solid #c9dde9; background:#fff; overflow:hidden;}
.r-data-list li					    { margin:0; float:left; border-bottom:1px solid #f2f2f2; line-height:32px; font-size:13px; color:#707070; overflow:hidden; padding:0 10px; width:190px; }
.r-data-list li label				{ float:left; width:40%; font-size:12px; font-weight:bold; display:block; text-align:left;}
.r-data-list li span				{ float:left; width:60%; display:block; text-align:right;}
.r-data-list li a					{ display:block; text-align:center; color:#a3a3a3; font-size:10px;}
/******************************* Right Area End css ***********************************/

.right-area h4					{ padding: inherit;border-top:1px solid #c6dce9; margin-top:15px;border-radius:5px 5px 0 0 ; -moz-border-radius:5px 5px 0 0 ; -webkit-border-radius:5px 5px 0 0 ; }
.right-area h4 span	{ border:1px solid #fff; border-bottom:none; font-size:12px;border-radius:5px 5px 0 0 ; -moz-border-radius:5px 5px 0 0 ; -webkit-border-radius:5px 5px 0 0 ;   display:block;padding:0 10px; color:#2192d3; font-weight:bold; text-transform:uppercase; line-height:32px;text-shadow: 0px 2px 0px #ffffff;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */}

.modal .league-info {margin: 10px ;float: left; width: 45%; background:#f3fbff; border: 1px solid #ccc;border-radius:5px 5px 0 0 ; -moz-border-radius:5px 5px 0 0 ; -webkit-border-radius:5px 5px 0 0 ;}
.modal .league-info h4 { float:none; padding:0; border-top:1px solid #c6dce9;border-radius:5px 5px 0 0 ; -moz-border-radius:5px 5px 0 0 ; -webkit-border-radius:5px 5px 0 0 ; }
.modal .league-info h4 span		{ border:1px solid #fff; border-bottom:none; font-size:12px;border-radius:5px 5px 0 0 ; -moz-border-radius:5px 5px 0 0 ; -webkit-border-radius:5px 5px 0 0 ;   display:block;padding:0 10px; color:#2192d3; font-weight:bold; text-transform:uppercase; line-height:32px;text-shadow: 0px 2px 0px #ffffff;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */}
.modal .league-info .r-data-list li		{ width: 90%;}
/* */
.footer-area						{ margin-left:210px;margin-right:220px; padding:15px 0; clear:both; font-size:12px; font-family:'Oxygen'; overflow:hidden;}
.footer-left						{ float:left; color:#666666;text-shadow: 0px 2px 0px #ffffff;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */}
.footer-left a						{ color:#666666;}
.footer-left a:hover				{ color:#000;}
.footer-left span					{ display:block; color:#a0a0a0; padding-top:2px;}
.footer-right						{ float:right;}
.footer-right a						{ height:27px; width:27px; float:left; margin-left:5px; text-indent:999px;}
.footer-area-inner					{ margin-right:10px;}


/* */
.inner-l-area						{ top:70px;}
.inner-right-area					{ margin-left:210px; overflow:hidden; border:1px solid #e4e4e4; min-height:500px;  background:#fff; border-top:none;}
.user-p								{ background:#fbfbfb; padding:15px; -moz-box-shadow:0 -2px 15px #e4e4e4;/*FF 3.5+*/-webkit-box-shadow: 0 -2px 15px #e4e4e4;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/box-shadow:0 -2px 15px #e4e4e4; overflow:hidden;}
.p-photo							{ border:5px solid #fff; float:left;-moz-box-shadow: 0px 0px 12px #e4e4e4;/*FF 3.5+*/-webkit-box-shadow: 0px 0px 12px #e4e4e4;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/box-shadow: 0px 0px 12px #e4e4e4; float:left; max-width:100px; }
.p-photo img 						{ float:left; }

.p-photo-big							{ border:5px solid #fff; float:left;-moz-box-shadow: 0px 0px 12px #e4e4e4;/*FF 3.5+*/-webkit-box-shadow: 0px 0px 12px #e4e4e4;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/box-shadow: 0px 0px 12px #e4e4e4; float:left; max-width:200px; margin:10px;}
.p-photo-big img 						{ float:left; }


.user-info							{ float:left; padding-left:10px;}
.user-info .u-name					{ font-size:24px; line-height:40px; font-weight:lighter; display:block;}
.user-info a						{ border:1px solid #eee;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; display:block; line-height:28px; padding:0 10px; color:#828282; font-size:14px;-moz-box-shadow: inset 0px 1px 0px #ffffff;/*FF 3.5+*/
    -webkit-box-shadow: inset 0px 1px 0px #ffffff;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: inset 0px 1px 0px #ffffff;
    font-weight:lighter;
}
.user-info a span					{ font-weight:bold; color:#6db417;}
.user-info-icon a					{ width:43px; float:left; height:43px; display:block; margin-left:10px; }
.user-info-icon						{ float:right; padding-top:20px;}

.inner-cont-right					{ padding:20px; overflow:hidden;}
.in-page-title						{ font-size:20px; color:#5d5d5d; text-transform:uppercase; border-bottom:1px solid #ddd; font-weight:lighter; line-height:36px; padding-bottom:4px;}
.cashier-icon						{ background:url(icon-account.png) no-repeat 0 5px; padding-left:30px;}
.registered-leagues					{ background:url(icon-account.png) no-repeat 0 -72px; padding-left:35px;}
.user-details						{ background:url(icon-account.png) no-repeat 0 -595px; padding-left:35px;}

.two-col-data, .one-col-data		{ overflow:hidden; margin-bottom:40px;}
.two-col-data li, .one-col-data li	{ overflow:hidden; border-top:1px solid #fff; color:#3a3c40; border-bottom:1px dashed #e5e5e5; background:#fbfbfb; line-height:54px; padding:0 15px; font-size:20px; position:relative;}
.one-col-data li a.btn-action		{ background:#707070; font-size:11px; font-weight:bold; line-height:20px; padding:0 10px; display:block; position:absolute; right:10px; top:15px; text-transform:uppercase; color:#fff; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}
.one-col-data li					{ line-height:48px;}
.one-col-data li:nth-child(even)    { background: #fff}
.one-col-data li:nth-child(odd)     { background: #f9f9f9}
.one-col-data li a					{ font-size:14px; color:#0299ce;}
.two-col-data li label				{ float:left; display:block; width:50%; font-weight:lighter;}
.two-col-data li span				{ float:left; display:block; width:50%; text-align:right; font-weight:bold;}
.two-col-data li.t-txt				{ color:#4b7d0f; background:#f1fae5; color:#4b7d0f;}
.settings-area						{ border:1px dashed #e5e5e5; border-top:none; overflow:hidden;}
.settings-area span					{ font-size:16px; color:#3a3c40; display:block; padding-bottom:5px; font-weight:lighter;}
.settings-area select				{  background:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; font-size:12px; color:#8f8f8f; padding:5px; outline:none; border:2px solid #eaeaea; }
.time-zone							{ float:left; width:20%; background:url(icon-account.png) no-repeat 35px -206px; padding:35px; padding-left:100px;  }
.notifications-setting				{ float:left; width:20%; border-right:1px dashed #e5e5e5; border-left:1px dashed #e5e5e5; background:url(icon-account.png) no-repeat 35px -313px; padding:35px; padding-left:100px; }
.currency-setting				{ float:left; width:20%;  background:url(icon-account.png) no-repeat 35px -416px; padding:35px; padding-left:100px; }


#stage {
    display: block;
    margin: 0;
    padding: 0;
    margin: 0 auto;

}
#stage .slider-frame {
    position: relative;
    display: block;
    margin: 0;
    padding:0 5px;
    margin-bottom:8px;
    width: 65px;
    height: 26px;
    background: #a0ba81;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#stage .slider-frame .slider-button{
    font-size:12px;
    font-weight:bold;
    color:#fff;
    line-height:26px;
    cursor: pointer;
}
#stage .slider-frame .slider-button span{
    display: block;
    margin: 0;
    margin-top:4px;
    margin-right:8px;
    padding: 0;
    float:left;
    width: 32px;
    height: 18px;
    background: #fff;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size:12px;
    font-weight:bold;
    color:#fff;
    text-align: center;
    cursor: pointer;
}

#stage .slider-frame .slider-button.on span{
    background: #fff;
    float:right;
    margin-right:0;
}

/******************************** Inner *********************************/
.per-lang{ width:100%; border:1px solid #e4e4e4; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; padding:2px 0 0 0; }
.per-title-bg{ background:#fff7e0; overflow:hidden; padding:7px 8px 8px 14px;}
.per-title{ width:226px; float:left; line-height:14px; color:#a27e15; padding-top:4px; font-size:13px; font-weight:lighter;}
.per{ width:299px; float:left;}
.per label{ width:90px; font-size:16px; line-height:35px; padding-right:18px; float:left; text-align:right; color:#3a3c40; font-weight:lighter;}
.ler-sel{ width:157px; padding:8px; border:1px solid #e9ddba; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; line-height:14px; color:#3a3c40; float:left;}
.leg{ width:241px; float:left}
.leg label{ width:67px; font-size:16px; line-height:35px; padding-right:15px; float:left; text-align:right;}
.leg-box{ width:100%;}
.leg-box th{ width:20%; border-right:1px dashed #39b8e5; background: #00a9e5; background: -moz-linear-gradient(top, #00a9e5,  #029acf);background: -webkit-gradient(linear, left top, left bottom, from(#00a9e5), to(#029acf));
    background: -webkit-linear-gradient(left top, left bottom, #00a9e5, #029acf);
    background: -o-linear-gradient(top, #00a9e5,#029acf);
    background: -ms-filter:"progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#00a9e5, EndColorStr=#029acf, GradientType=0)";
    background: linear-gradient(to bottom, #00a9e5,#029acf); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a9e5', endColorstr='#029acf', GradientType='0'); font-size:13px; line-height:48px;}
.leg-box th span{ float:left; padding-left:18px;}
.leg-box th:last-child{ border:none;}
.leg-box td:last-child{ border-right:none;}
.leg-box tfoot tr td{ border-bottom:none;}
.leg-box thead{ overflow:hidden; color:#fff; }
.leg-box thead tr td{ border-bottom:none;}
.leg-box tr td{line-height:48px; font-size:13px; font-weight:normal; padding-left:18px; border-right:1px dashed #e5e5e5; border-bottom:1px dashed #e5e5e5; }
.leg-box tr.even{ background:#f4f4f4; overflow:hidden;}
.leg-box tr.light-gray{ background:#fbfbfb; overflow:hidden;}
.stock-list tr.even{ background:#fbfbfb; overflow:hidden;}
.leg-box tfoot{ background:#f1fae5; border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; overflow:hidden; color:#4b7d0f; }
.leg-box tfoot tr td{ line-height:54px; font-size:16px; }
.page-tab{ border-bottom:1px solid #ddd; float:left; width:100%;}
.page-tab ul{ padding:0 15px;}
.page-tab li{float:left; padding-right:5px;}
.page-tab li a{ background:#f4f4f4; line-height:45px;  color:#909090; font-size:16px; display:block;}
.page-tab li a span{padding:0 40px; display:block;}
.page-tab li a:hover{ color:#0299ce;}
.page-tab li a.active{ background:#fff; color:#0299ce; padding-top:2px; border:1px solid #ddd; border-bottom:none; border-radius:5px 5px 0 0; margin-bottom:-1px;}
.page-tab li a.active span{   background: #f9f9f9; /* for non-css3 browsers */
    background: -moz-linear-gradient(top, #f9f9f9,  #ffffff); /* for firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ffffff)); /* Safari 4+, Chrome */
    background: -webkit-linear-gradient(left top, left bottom, #f9f9f9, #ffffff); /* Chrome 10+, Safari 5.1+, iOS 5+ */
    background: -o-linear-gradient(top, #f9f9f9,#ffffff); /* Opera 11.10+ */
    background: -ms-filter:"progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#f9f9f9, EndColorStr=#ffffff, GradientType=0)";
    background: linear-gradient(to bottom, #f9f9f9,#ffffff); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#ffffff', GradientType='0'); /* for IE */
    border-radius:5px 5px 0 0;}

/* */
.c-form-area{
    overflow:hidden;
    padding-top:12px;
    height:400px;
    width:100%;
    clear:both;
}
.c-col-area{
    width:50%;
    float:left;
    padding:12px 0;
}
.c-col-area label{
    width:165px;
    float:left;
    font-weight:lighter;
    color:#3a3c40;
    font-size:13px;
    display:block;
    padding-top:8px;
}
.c-value{
    float:left;
    width:60%;
    overflow:hidden;
}
.c-value span{
    font-size:12px;
    font-weight:lighter;
    color:#777;
    padding-left:8px;
    padding-top:8px;
    float:left;
}
.c-col-area select{
    font-weight:lighter;
    color:#8f8f8f;
    font-size:12px;
    border:2px solid #eaeaea;
    border-radius:5px;
    padding:8px;
    margin-right:10px;
    float:left;
}

.c-col-area .input-txt{
    width:200px;
    float:left;
    font-weight:lighter;
    color:#8f8f8f;
    font-size:12px;
    border:2px solid #eaeaea;
    border-radius:5px;
    padding:8px;
    float:left;
}

.c-col-area .input-txt-s{
    width:100px;
    float:left;
    font-weight:lighter;
    color:#8f8f8f;
    font-size:12px;
    border:2px solid #eaeaea;
    border-radius:5px;
    padding:8px;
    float:left;
}
.c-form-f{
    background:#f7f7f7;
    font-size:14px;
    color:#3a3c40;
    font-weight:lighter;
    clear:both;
    line-height:44px;
}
.c-form-f input{
    margin-left:8px;
    margin-right:8px;
    float:left;
    margin-top:15px;
}
.c-form-f a.cf-btn{
    background:#0299ce;
    border-radius:5px;
    font-size:18px;
    font-weight:bold;
    padding-left:15px;
    padding-right:10px;
    color:#fff;
    display:block;
    line-height:44px;
    float:right;
}

.c-form-f a.cf-btn span{
    background:url(btn-arrow.png) right no-repeat ;
    border-radius:5px;
    font-size:18px;
    font-weight:bold;
    padding-right:35px;
    color:#fff;
}
.c-form-f a:hover{
    color:#000;
}
.card-info{
    text-align:center;
    padding:25px;
    clear:both;
}
.u-p-deatils{
    width:60%;
    margin:auto;
    overflow:hidden;
    padding:20px;
}
.u-oinfo{
    float:left;
    width:60%;
    margin-left:15px;
    padding-top:15px;
}
.u-oinfo h4{
    font-weight:bold;
    font-size:24px;
    padding-bottom:15px;
    display:block;

}
.u-oinfo .two-col-data{
    border-top:1px dashed #E5E5E5;
}
.u-oinfo .two-col-data li{
    line-height:44px;
    background:#fff;
    font-size:14px;
    font-weight:lighter;
}

.profile-info-area					{ overflow:hidden; margin-bottom:40px;}
.profile-info-area li				{ overflow:hidden; border-top:1px solid #fff; color:#3a3c40; border-bottom:1px dashed #e5e5e5; background:#fbfbfb; line-height:48px; padding:0 15px; font-size:14px; color:#3a3c40; position:relative;}
.profile-info-area li:nth-child(even)    { background: #fff}
.profile-info-area li:nth-child(odd)     { background: #f9f9f9}
.profile-info-area li label				{ float:left; display:block; width:30%; font-weight:lighter;}
.profile-info-area li span				{ float:left; display:block; width:50%;border: none;  }
.profile-info-area li span input				{ margin-top: 10px ;  }
.editable-clear-x {display: none !important;}
.profile-info-area li a				{ font-size:12px; text-decoration:underline; float:right;}
.profile-info-area li a:hover		{ color:#000; text-decoration:none;}
.leg-box th							{ width:auto;}

.buy-btn, .sell-btn, .del-btn							{ margin-left: 5px;line-height:18px; display:block; float:left; padding:0 15px; color:#fff; font-size:11px; font-weight:bold; text-transform:uppercase; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; border-bottom:2px solid #7fbb00;}
.buy-btn:hover, .sell-btn:hover, .del-btn:hover		    { color:#fff; font-size:11px; font-weight:bold; text-transform:uppercase; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.sell-btn							{border-bottom:2px solid #e34c2e;}
.del-btn							{border-bottom:2px solid #000;}

.down-arrow-red, .down-arrow-green					{ background:url(down-arrow-small.png) no-repeat 0 0; width:14px; height:14px; float:left; margin-top:18px; margin-right:5px;}
.down-arrow-green					{ background:url(down-arrow-small.png) no-repeat 0 bottom; }
.up-arrow-red, .up-arrow-green					{ background:url(up-arrow-small.png) no-repeat 0 0; width:14px; height:14px; float:left; margin-top:18px; margin-right:5px;}
.up-arrow-green					{ background:url(up-arrow-small.png) no-repeat 0 bottom; }
.t-action					{ padding:20px; color:#3a3c40; font-size:14px; font-weight:lighter; overflow:hidden;}
.t-action span{ float:left; margin-right:20px;}
.t-action span input{ float:left; margin-right:5px; margin-top:3px;}
.popup-area{}

.modal{ min-width: 400px;border:3px solid #ddd;background:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.close-icon{ padding:10px; text-align:right;}
.popup-heading{ border-bottom:1px solid #ddd; }
.modal h4{ font-weight:lighter; font-size:18px; text-transform:uppercase; color:#272727; float:left; padding:15px;}
.modal h3{ color:#90c34c; font-size:18px; text-align:center; padding-bottom:20px;}
.pd20{ padding:20px;}
.popup-txt	{ background:#f8f8f8; border-top:1px solid #ddd; border-bottom:1px solid #ddd; margin-bottom:50px; }
.popup-c-txt{ border-top:2px solid #fff; border-bottom:1px solid #fff; padding:10px; overflow:hidden;border-left:1px solid #ddd;}
.popup-c-txt span{ display:block; padding-left:10px; float:left; color:#808080; }
.popup-c-txt strong{#3a3c40; display:block; float:left; padding-left:10px; padding-top:2px;}
.popup-logo	{ float:left; padding:10px; border-top:2px solid #fff; border-bottom:1px solid #fff; }
.popup-sub-head{ border-top:1px solid #ddd; border-bottom:1px solid #ddd;overflow:hidden; margin-bottom:30px; }
.popup-sub-head span{ background:#f8f8f8; border-top:2px solid #fff; border-bottom:1px solid #fff; font-size:24px; font-weight:bold; line-height:55px; display:block; text-align:center;}

.filters-area{ overflow:hidden; float:left; width:60%;}
.filters-area a{ color: #000; }
.filters-area li span.filters-t{ width:15%;}
.filters-area li{ font-size:12px; overflow:hidden; padding:10px 0; border-bottom:1px dashed #e5dfcd;}
.filters-area li:last-child{ border-bottom:0;}
.filters-area li span{ color:#3a3b3f; display:block; width:20%; float:left;}
.filters-area li span input{ float:left; margin-right:3px; margin-top:2px;}
.f-title{ color:#0299ce; font-size:18px; font-weight:bold;}

.dataTables_filter{display: none;}

.filter-right{ float:right;}
.f-box{ border:1px solid #eee4c7; overflow:hidden; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; margin-bottom:20px; margin-top:-15px; background:#fff; padding:10px 15px; min-width:230px;}
.f-box-last{ margin-bottom:0;}
.f-box span{ font-size:14px; color:#727272; display:block; font-weight:lighter;}
.fliter-txt{ float:left;}
.cash-txt{ font-size:26px; float:right; color:#a1ba81; line-height:34px;}
.dt-txt{float:right; font-weight:bold;}
.dt-txt span{ display:block;color:#222;}
.action-btn-info{ background:#707070; font-size:11px; font-weight:bold; line-height:20px; padding:0 10px; display:block; text-transform:uppercase; color:#fff; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; float:left; margin-top:1px;}
.action-btn-reg{background:#0299ce; font-size:11px; font-weight:bold; line-height:20px; padding:0 10px; display:block; text-transform:uppercase; color:#fff; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; float:left; margin-top:1px; margin-left:10px;}
.sorting th span{ display:block; float:none; position:relative; text-align:left;}
.sorting .arrow-up{ background:url(arrow.png) no-repeat 1px 0; width:10px;height:3px; position:absolute; right:5px; top:20px;}
.sorting .arrow-down{ background:url(arrow.png) no-repeat bottom; width:10px;height:3px; position:absolute; right:5px; top:25px;}

.sorting th {cursor: pointer;}
.sorting th.sorting_asc a.arrow-up {display: none;}
.sorting th.sorting_desc a.arrow-down {display: none;}

.portfolio-info-left{ float:left; width:48%; padding:30px 3%; padding-bottom:0;}
.p-box{ float:left; padding:25px 0; border-bottom:1px solid #f0f0f0; border-right:1px solid #f0f0f0; width:45%;}
.p-box-t{ border-right:none; padding-left:4%;}
.p-row{ overflow:hidden;clear:both; width:100%;}
.p-row .p-box{ border-bottom:none; }
.p-box h4{ color:#707070; font-size:14px; text-transform:uppercase;}
.p-box span{ color:#323232; font-size:36px; line-height:40px;}
.portfolio-info-right{ border-left:1px solid #f0f0f0; padding-top:30px; float:right; width:45%; background:#f3f5ee; }
.r-txt{ font-size:18px; text-transform:uppercase; color:#484a4f; text-align:center; line-height:22px;}
.up-arrow{ background:url(up-arrow.png) no-repeat 0 12px; padding-left:30px; }
.down-arrow{ background:url(down-arrow.png) no-repeat 0 12px; padding-left:30px; }
.portfolio-info-right h2{font-size:48px; text-align:center; line-height:48px; font-weight:bold; color:#7fbb00;}
.portfolio-info-right span{font-size:12px; text-align:center; line-height:18px; text-align:center; display:block;color:#969696;}
.portfolio-info-right ul{ margin-top:30px;}
.portfolio-info-right li{ background:#fbfbfb; overflow:hidden; border-top:1px dashed #e2e2e2; padding:8px 20px;}
.portfolio-info-right li span{ float:left; width:50%;text-align:left; color:#707070; font-weight:bold;}
.p-graph-area{ border-bottom:1px solid #f0f0f0; border-top:1px solid #f0f0f0; overflow:hidden; clear:both;}
.p-graph-area h4{ color:#0695c9; font-size:18px; text-transform:uppercase; line-height:34px; text-align:center;}
.graph-c{ float:left; width:25%; text-align:center; border-right:1px solid #f0f0f0;}
.g-sec{ padding:30px 0; }
.p-head{ font-size:18px; text-transform:uppercase; color:#323232; padding:25px 10px 10px;}
.mbn-popup{ margin-bottom:0;}
.popup-d-txt{ border-top:2px solid #fff; border-bottom:1px solid #fff; padding:0 5px; overflow:hidden;}
.popup-title{ color:#272727; font-size:18px; text-transform:uppercase; position:absolute; left:10px; top:14px;}
.b-txt{ font-size:12px; float:left; padding:5px 10px; border-right:1px solid #ddd; min-width:135px;}
.b-txt strong{ display:block;}
.popup-d-logo{ float:left; padding:5px 10px; }
.popup-price-txt{ color:#3a3c40; font-size:26px; font-weight:bold; line-height:45px; padding:0 10px; float:left; border-left:1px solid #ddd; border-right:1px solid #ddd;}
.popup-price-g{ padding:5px 10px; float:left;}
.popup-price-g .price-c{ display:block; color:#686b71; font-weight:bold; font-size:14px; float:left; background:#f1f6ea;float:left; margin-right:2px; padding:5px; margin-top:4px; }
.popup-price-g .price-c span{ margin-right:5px; margin-top:2px;}
.popup-action-area{ border:2px solid #0299ce; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; float:left; width:225px; padding:10px; margin:20px 10px;}
.popup-action-area span{display:block; text-align:center; color:#323232; font-size:13px; padding:5px;}
.popup-action-area a{background:#0299ce; padding:0 10px; color:#fff; font-size:14px; font-weight:bold; text-transform:uppercase;  line-height:25px; width:60px; display:block; text-align:center; margin:auto; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.popup-action-area a:hover{ background:#3a3c40;}
.price-row-c{ overflow:hidden; padding:10px; border-bottom:1px dashed #e5e5e5;}
.price-row-c .l-txt-p{ font-size:16px; color:#3a3c40; line-height:34px; width:60px; float:left; margin-right:10px;}
.price-row-c select, .price-row-c input{ font-size:16px; color:#3a3c40; float:left; padding:5px; width:100px;  border:2px solid #eaeaea;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.price-row-c .cf-btn span{ width:auto; font-size:16px;}
.price-row-c.c-form-f{ background:none; border:none;}
.price-row-c.c-form-f input{ margin:0;}
.select-range{ float:left; width:310px; padding-top:5px;}
.btn-w{ background:#fff; -moz-box-shadow: 2px 0px 12px #d4d4d4;/*FF 3.5+*/
    -webkit-box-shadow: 2px 0px 12px #d4d4d4;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=12, Direction=90, Color=#d4d4d4)";/*IE 8*/
    box-shadow: 2px 0px 12px #d4d4d4;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=12, Direction=90, Color=#d4d4d4);/*IE 5.5-7*/
    width:22px !important; padding:5px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
    font-weight:bold;text-align:center;
    height:20px !important; line-height:20px !important;
    cursor:pointer;
    float:left;
}
.txt-range{
    float:left;
    width:60px;
    text-align:center;
    line-height:30px;
    padding-left:5px;
}
.range-bar{
    border-top:1px solid #f7f7f7;
    border-bottom:1px solid #f7f7f7;
    float:left;
    display:block;
    width:115px;
    height:24px;
    margin-top:3px;
}
.range-bar-active{
    background:#a0ba81;
    border-radius:0 5px 5px 0 ;
    -moz-border-radius:0 5px 5px 0 ;
    -webkit-border-radius:0 5px 5px 0;
    display:block;
    width:115px;
    height:24px;
}